# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  upload_to_s3:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Upload Action
        id: upload
        uses: 'miqdadyyy/upload-s3-action@master'
        with:
          s3_key_id: ${{ secrets.S3_KEY_ID }}
          s3_secret_access_key: ${{ secrets.S3_SECRET_ACCESS_KEY }}
          s3_bucket: ${{ secrets.S3_BUCKET }}
          source_dir: 'routes'
          s3_region: sgp1
          s3_host: digitaloceanspaces.com
          destination_dir: assets/
